name: Run Linters

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Install Dependencies
        run: npm install

      - name: Check Formatting
        run: |
          npm run fmt:check

      - name: Lint Code
        run: |
          npm run lint

      - name: Check Types
        run: |
          npm run typecheck
